@import 'assets/css/normalize.css';

body{
    font-family: arial;
    font-size: 1em;
    line-height: 1.5em;
}

p{margin-bottom: 1.5em;}

h1{font-size: 2em;}

figure{margin: 0 0 1.5em;}

img{max-width: 100%;}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.column {
    box-sizing: border-box;
    float: left;
    /** Gouttières **/
    padding-left: .5em;
    padding-right: .5em;
}


.clear {
    clear: both;
}

@media only screen and ( min-width: 1280px) {

    .column-2-3 { width: 33%; }
}


@media screen and (max-width: 1280px) {
  .column-2-3 { width: 50%; }
}

@media screen and (max-width: 640px) {
 .column-2-3 { width: 100%; }
    h1{font-size: 1em;
    text-align: center;}
}